/* google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  /* height */
  --nav-height: 7rem;

  /* main background */
  --bg-main: #faf4e8;

  /* animations */
  --appear-animation: appear;
  --hover-appear-animation: hoverAppear;
  --trash-animation: trash;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hoverAppear {
  from {
    margin-top: 1rem;
    opacity: 0;
  }

  to {
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes trash {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(20deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-20deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.facebook {
  color: #3B5998;
}

.instagram {
  color: #E4405F;
}

.twitter {
  color: #1DA1F2;
}

.messanger {
  color: #0084FF;
}

/********************Global Styles********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  /* 1rem=16px=100%, but we want 1rem=10px. In percentage, 10/16*100 = 62.5.*/

  scroll-behavior: smooth;
}

/******************** Default Css ********************/
.app {
  padding: 0 5rem;
}


/******************** Media Query ********************/

/* large tablet screen */
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }

  .app {
    padding: 0 6rem;
  }
}

/* small tablet screen */
@media (max-width: 768px) {
  html {
    font-size: 57%;
  }

  .app {
    padding: 0 4rem;
  }
}

/* large mobile screen */
@media (max-width: 576px) {
  html {
    font-size: 53.5%;
  }

  .app {
    padding: 0 2rem;
  }
}

/* small mobile screen */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .app {
    padding: 0 1rem;
  }
}

/* extra small mobile screen */
@media (max-width: 360px) {
  .app {
    padding: 0 0.5rem;
  }
}