.reviewDialogContainer > div > div > .reviewDialogContent{
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.reviewDialogContainer > div > div > .reviewDialogContent > h2{
    font-size: 2.5rem;
    text-align: center;
}

.reviewDialogContainer > div > div > .reviewDialogContent > .rating{
    margin-top: 1rem;
    text-align: center;
}

.reviewDialogContainer > div > div > .reviewDialogContent > .rating > i{
    margin-right: 0.5rem;
    font-size: 2rem;
	cursor: pointer;
    color: gold;
}

.reviewDialogContainer > div > div > .reviewDialogContent > .rating > i:last-child{
    margin-right: 0;
}

.reviewDialogContainer > div > div > .reviewDialogContent > textarea{
    margin-top: 1.5rem;
    padding: 1rem;
    height: 20rem;
    font-size: 1.25rem;
    resize: vertical;
}

.reviewDialogContainer > div > div > .reviewDialogContent > .buttons{
    margin-top: 1.5rem;
    text-align: right;
}

.reviewDialogContainer > div > div > .reviewDialogContent > .buttons > button{
    margin-left: 1rem;
    padding: 1rem;
    cursor: pointer;
}