.navbar{
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

/********************* Navbar Logo ********************/
.navbar > .navLogo > a{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Montserrat', monospace;
}

.navbar > .navLogo > a > img{
    height: 3.25rem;
}

/********************* Navbar Menu ********************/
.navbar > ul.navMenu{
    margin-left: auto;
    display: flex;
}

.navbar > ul.navMenu > li{
    margin: 0 1rem 0 0;
    position: relative;
}

.navbar > ul.navMenu > li > a {
    display: block;
    padding: 0 1rem;
}

.navbar > ul.navMenu > li > a.active{
    font-weight: bolder;
}

.navbar > ul.navMenu > li > a > span{
    font-size: 1.35rem;
    text-transform: capitalize;
}

.navbar > ul.navMenu > li > a:hover > span{
    font-weight: 800;
}

.navbar > ul.navMenu > li > a > i{
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

/******************** Sub Menu ********************/
.navbar > ul.navMenu > li > ul.subMenu{
    padding: 0.25rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.25);
    display: none;
    z-index: 10;
}

.navbar > ul.navMenu > li:hover > ul.subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: var(--hover-appear-animation) 0.45s;
}

.navbar > ul.navMenu > li > ul.subMenu > li{
    width: 12rem;
    height: auto;
}

.navbar > ul.navMenu > li > ul.subMenu > li:hover{
    background-color: #ededed;
    transition: all 0.2s ease-in-out;
}

.navbar > ul.navMenu > li > ul.subMenu > li > a{
    display: block;
    height: 100%;
    font-size: 1.25rem;
    padding: 1rem;
    text-transform: capitalize;
}

.navbar > ul.navMenu > li > ul.subMenu > li > a:hover{
    background-color: #ededed;
    transition: all 0.2s ease-in-out;
}

/********************* Nav Icons ********************/
.navbar > .navIcons{
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar > .navIcons > div {
    margin-left: 1rem;
}

.navbar > .navIcons > button > i,
.navbar > .navIcons > .profileIcon > i,
.navbar > .navIcons > .cartIcon > i,
.navbar > .navIcons > .barsIcon > i{
    font-size: 1.5rem;
    cursor: pointer;
}

/******************** Profile Icon ********************/
.navbar > .navIcons > button,
.navbar > .navIcons > .profileIcon,
.navbar > .navIcons > .cartIcon,
.navbar > .navIcons > .barsIcon {
    position: relative;
    border: 1px solid #d8d8d8;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    cursor: pointer;
    background-color: white;
}

.navbar > .navIcons > .profileIcon > ul{
    display: none;
}

.navbar > .navIcons > .profileIcon > ul.active{
    padding: 0.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    background-color: white;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.25);
    border-radius: 0.5rem;
    animation: var(--appear-animation) 0.5s ease-in-out;
}

.navbar > .navIcons > .profileIcon > ul > li:first-child{
    line-height: 1.5;
}

.navbar > .navIcons > .profileIcon > ul > li > a{
    width: 12.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
}

/******************** Cart Icon ********************/
.navbar > .navIcons > .cartIcon > span{
    height: 1.25rem;
    width: 1.25rem;
    font-size: 0.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    border-radius: 50%;
    border: 1px solid #b2beb5;
}

/******************** Bars Icon ********************/

.navbar > .navIcons > .barsIcon{
    display: none;
}

/******************** Media Query ********************/

/* small tablet screen */
@media (max-width: 768px) {
    .navbar > .navLogo {
        margin-right: auto;
    }

    .navbar > .navIcons > .barsIcon{
        display: flex;
        z-index: 10;
    }

    .navbar > ul.navMenu{
        display: none;
    }

    .navbar > ul.navMenu.active{
        padding: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 10;
        background-color: white;
        box-shadow: 0 2px 5px rgba(1, 1, 1, 0.25);
        animation:  var(--appear-animation) 0.5s;
    }

    .navbar > ul.navMenu > li:not(:last-child){
        margin: 0 0 3em 0;
    }
}

