.participant{
    width: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.participant > .avatar{
    margin-bottom: 0.5rem;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9f9f9;
}

.participant > .avatar.active{
    border: 5px solid #ededed;
}

.participant > .avatar:hover{
    background-color: #ededed;
    transition: all 0.2s ease;
}

.participant > .avatar > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.participant > .avatar > i{
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.5);
}

.participant > .name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.participant > .name.csr{
    white-space: normal;
}

.participant > .status{
    position: absolute;
    top: 0;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.participant > .status.online{
    background-color: rgb(6, 162, 6);
}