.message.out{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

.message.in{
	width: 100%;
	display: flex;
}

/******************** Message content ********************/
.message > .messageContent{
	display: flex;
	flex-direction: column;
}

.message.in > .messageContent > p.text,
.message.out > .messageContent > p.text{
	margin: 0.25rem 0;
	padding: 1rem;
	background-color: #ededed;
	border-radius: 0 1rem 1rem 1rem;
}

.message.out > .messageContent > p.text{
	color: white;
	background-color: #2d3448;
	border-radius: 1rem 0 1rem 1rem;
}
