.userList{
    display: flex;
    flex-direction: column;
}

.userList > header{
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.userList > header > .search {
    width: 30rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    border: 1px solid #ededed;
}

.userList > header > .search:focus-within{
    border: 1px solid #b2beb5;
}

.userList > header > .search > input{
    margin-left: 1rem;
    padding: 1rem;
}

/******************** User List ********************/
.userList > table{
    width: 100%;
    border-spacing: 0 0;
    border: 1px solid #ededed;
}

.userList > table > thead > tr > th,
.userList > table > tbody > tr > td{
    padding: 1rem;
    text-align: justify;
    font-size: 1.25rem;
    background-color:#ededed;
}

.userList > table > tbody > tr > td{
    padding: 2rem 1rem;
    background-color: white;
    border-bottom: 1px solid #ededed;
}

.userList > table > tbody > tr > td > i{
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}

.userList > table > tbody > tr > td > i:hover{
    animation-name: var(--trash-animation);
	animation-duration: 0.3s;
	animation-iteration-count: 3;
}

.userList > .noUsers{
    height: 25rem;
    width: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
    border: 1px solid #ededed;
}


/******************** Media Query ********************/
  
/* large mobile screen */
@media (max-width: 576px) {
  .userList{
    overflow-x: auto;
  }

  .userList > header > .search{
    width: 100%;
  }
}