.cardContainer{
    height: 100%;
    width: 100%;
	overflow: hidden;
	cursor: pointer;
    display: flex;
    flex-direction: column;
	position: relative;
}

.cardContainer > .artStatus{
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    background-color: #2d3448;
    z-index: 50;
}

/******************** Card Image ********************/
.cardContainer > .itemImage{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cardContainer > .itemImage > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardContainer > .itemImage > .itemImage > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.cardContainer > .itemImage:hover > img{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

/******************** Card Information ********************/

.cardContainer > .itemInfo{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* display: none; */
    background-color: #f6f6f6;
}

/* .cardContainer:hover > .itemInfo{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    animation: var(--appear-animation) 0.4s ease-in-out;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.5);
    transition: position 0.3s ease;
} */

.cardContainer > .itemInfo > p{
    font-size: 1.25rem;
}

.cardContainer > .itemInfo > p:first-child{
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.cardContainer > .itemInfo > p > span {
    margin-left: 0.5rem;
}

/******************** Card Buttons ********************/
.cardContainer > .itemButtons{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    transition: all 1s ease-in-out;
}

.cardContainer:hover > .itemButtons{
    display: flex;
    flex-direction: column;
}

.cardContainer > .itemButtons > button {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.cardContainer > .itemButtons > button:hover{
    background-color: #b2beb5;
    transition: all 0.2s ease-in-out;
}

.cardContainer > .itemButtons > button:nth-child(1) {
    animation: var(--appear-animation) 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.cardContainer > .itemButtons > button:nth-child(2) {
    animation: var(--appear-animation) 0.4s ease-in-out;
    animation-fill-mode: forwards;
}

.cardContainer > .itemButtons > button:nth-child(3) {
    animation: var(--appear-animation) 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

.cardContainer > .itemButtons > button:nth-child(4) {
    animation: var(--appear-animation) 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

.cardContainer > .itemButtons > button.liked{
    background-color: rgb(127, 199, 127);
    color:white;
}

.cardContainer > .itemButtons > button.liked > span{
    color:black;
}

.cardContainer > .itemButtons > button > span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 1rem);
    display: none;
    transition: display 0.3s ease-in-out;
}

.cardContainer > .itemButtons > button:hover > span{
    display: block;
    width: 12rem;
    padding: 0.75rem;
    opacity: 0.75;
    font-size: 1.25rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}