.forgetPasswordContainer{
    width: 100%; 
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 1.25px solid #ededed;
}

.forgetPasswordContainer > form > label,
.forgetPasswordContainer > form > div{
    width: 45rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.forgetPasswordContainer > form > label:last-child{
    margin-bottom: 0;
}

.forgetPasswordContainer > form > label > h2{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.forgetPasswordContainer > form > label > input{
    width: 100%;
    padding: 1.25rem 1rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    border-bottom: 1px solid #ededed;
}

.forgetPasswordContainer form > label > input:focus::placeholder{
    opacity: 0;
    transition: all 0.2s;
}

.forgetPasswordContainer > form > div > button{
    height: 4rem;
    width: 12rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.4rem;
    background: var(--bg-main);
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
}

.forgetPasswordContainer > form > div > button:hover{
    background-color: #f7e8c9;
    transition: all 0.3s;
}


/******************** Media Query ********************/
  
/* large mobile screen */
@media (max-width: 576px) {
    .forgetPasswordContainer{
        width: 100%; 
        padding: 4rem 0rem;
    }

    .forgetPasswordContainer > form > label,
    .forgetPasswordContainer > form > div{
        width: 40rem;
    }
}

/* extra small mobile screen */
@media (max-width: 360px) {
    .forgetPasswordContainer > form > label,
    .forgetPasswordContainer > form > div{
        width: 30rem;
    }
}

