.spinner-container{
	height: 100%;
	width:  100%;
	display: block;
	position: relative;
	letter-spacing: 0.5px;
}

.spinner::after {
	content: '';
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: calc(50% - 2rem);
	left: calc(50% - 2rem);
	border-radius: 50%;
	border-bottom: 0.15rem solid black;
	animation: spinner 0.75s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}