.carouselContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/******************** Carousel Slide ********************/

.carouselContainer > .carouselSlide{
    height: 100%;
    width: 100%;
    position: relative;
}

.carouselContainer > .carouselSlide > .watermark {
    height: 100%;
    width: 100%;
}

.carouselContainer > .carouselSlide > .watermark > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .carouselContainer > .carouselSlide > .downloadBtn{
    position: absolute;
    left: 5rem;
    bottom: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
} */

/******************** Carousel Actions ********************/

.carouselContainer > .actions{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.carouselContainer > .actions > i{
    height: 100%;
    padding: 0 1.5rem;
    display: grid;
    place-items: center;
    font-size: 1.75rem;
    color: white;
}

.carouselContainer > .actions > i:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

/******************** Carousel Indicators ********************/

.carouselContainer > .carouselIndicators{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carouselContainer > .carouselIndicators > div{
   height: 1rem;
   width: 1rem;
   border: 1px solid white;
   border-radius: 50%;
   cursor: pointer;
}

.carouselContainer > .carouselIndicators > div.active{
    background-color: white;
}

.carouselContainer > .carouselIndicators > div:not(:last-child){
    margin-right: 1rem;
}