/******************** Row 1 ********************/
.uploadContainer > form > .row1{
    display: flex;
    justify-content: space-between;
}

.uploadContainer > form > .row1 > div,
.uploadContainer > form > .row1 > select{
    width: 22%;
    display: flex;
    flex-direction: column;
}

.uploadContainer > form > .row1 > div > span{
    font-size: 1.5rem;
}

.uploadContainer > form > .row1 > div > input,
.uploadContainer > form > .row1 > div > select{
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid #b2beb5;
}

/******************** Row 2 ********************/
.uploadContainer > form > .row2{
    margin-top: 2rem;
}

.uploadContainer > form > .row2 > div > textarea{
    height: 15rem;
    width: 100%;
    padding: 1rem;
    resize: vertical;
    border: 1px solid #b2beb5;
}

.uploadContainer > form > .row2 > div > textarea:focus::placeholder, 
.uploadContainer > form > .row1 > div > input:focus::placeholder{
    opacity: 0;
    transition: all 0.1s ease-in-out;
}


/******************** Row 3 ********************/
.uploadContainer > form > .row3 {
    margin-top: 2rem;
}

.uploadContainer > form > .row3 > input {
    display: none;
}

.uploadContainer > form > .row3 > label {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #b2beb5;
}

.uploadContainer > form > .row3 > label > i {
   font-size: 3rem;
}

.uploadContainer > form > .row3 > label > p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.uploadContainer > form > .row3 > .imagePreview{
    margin-top: 2rem;
    padding: 0.5rem;
    display: flex;
    overflow-x: auto;
    border: 1px solid #b2beb5;
}

.uploadContainer > form > .row3 > .imagePreview > img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.uploadContainer > form > .row3 > .imagePreview > img:not(:first-child){
    margin-left: 1rem;
}

/******************** Auction Fields ********************/

.uploadContainer > form > .auctionFields {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.2s ease;
    overflow: hidden;
}

.uploadContainer > form > .auctionFields.active {
    height: 6.5rem;
    margin-top: 2rem;
    overflow: visible;
}

.uploadContainer > form > .auctionFields.active > div{
    width: 24%;
    display: flex;
    flex-direction: column;
}

.uploadContainer > form > .auctionFields.active > div > span{
    font-size: 1.5rem;
}

.uploadContainer > form > .auctionFields.active > div > input{
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid #b2beb5;
}

.uploadContainer > form > .auctionFields.active > div > input:not(:last-child){
    margin-right: 1rem;
}

/******************** Buttons ********************/

.uploadContainer > form > .buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.uploadContainer > form > .buttons > input{
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    cursor: pointer;
}

.uploadContainer > form > .buttons > span{
    display: inline-block;
    font-size: 1.5rem;
}

.uploadContainer > form > .buttons > button{
    margin-left: 1rem;
    display: block;
    height: 4rem;
    width: 12rem;
    color: white;
    background-color: #2D3448;
    cursor: pointer;
}

.uploadContainer > form > .buttons > button:hover{
    background-color: #24252a;
    transition: all 0.15s ease-in-out;
}

.uploadContainer > form > .buttons > button.clearButton{
    margin-left: auto;
    color: black;
    background-color: #ededed;
}

/******************** Media Query ********************/
  
/* large mobile screen */
@media (max-width: 576px) {
    .uploadContainer > form > .row1{
        flex-direction: column;
    }

    .uploadContainer > form > .row1 > div{
        width: 100%;
        margin-bottom: 2rem;
    }
}