.artsContainer{
    padding-top: 1rem;
}

.artsContainer > header > .filtersHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artsContainer > header > .filtersHeader > p{
    font-size: 1.25rem;
} 

.artsContainer > header > .filtersHeader > button{
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5rem;
    margin-left: auto;
}

.artsContainer > header > .filtersHeader > button > i{
    margin-left: 0.5rem;
}

.artsContainer > header > .filtersHeader > button:hover{
    background-color: #ededed;
    transition: all 0.2s ease-in-out;
}

/******************** Filters ********************/
.artsContainer > header > .filters {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: height 0.2s ease;
}

.artsContainer > header > .filters.open {
    height: 5rem;
    margin-top: 1rem;
    overflow: visible;
}

.artsContainer > header > .filters.closed {
    height: 0;
}

.artsContainer > header > .filters > .selectFields{
    margin-right: auto;
}

.artsContainer > header > .filters > .selectFields > select{
    margin-right: 1rem;
    padding: 1rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid #b2beb5;
}

.artsContainer > header > .filters > .priceFields > label{
    font-size: 1.5rem;
}

.artsContainer > header > .filters > .priceFields > input[type='number']{
    margin-left: 1rem;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 10rem;
    padding: 1rem;
    border: 1px solid #b2beb5;
}

.artsContainer > header > .filters > .priceFields > button{
    padding: 1rem 2rem;
    cursor: pointer;
}

/******************** Arts ********************/

.artsContainer > .arts {
    margin-top: 1rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

/******************** NoArt ********************/
.artsContainer > .noArt{
    margin-top: 2rem;
    padding: 20rem 0;
    text-align: center;
    font-size: 1.25rem;
    background-color: #ededed;
}

/******************** Media Query ********************/

/* large tablet screen */
@media (max-width: 992px) {
    .artsContainer > .arts {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
/* large mobile screen */
@media (max-width: 576px) {
    .artsContainer > .arts {
        grid-template-columns: repeat(2, 1fr);
    }

    .artsContainer > header > .filters {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .artsContainer > header > .filters.filters.open{
        height: 9.5rem;
    }
    
    .artsContainer > header > .filters > .selectFields{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    .artsContainer > header > .filters > .selectFields > select{
        margin-right: 0;
        width: 50%;
    }

    .artsContainer > header > .filters > .priceFields{
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .artsContainer > header > .filters > .priceFields > label{
        display: none;
    }

    .artsContainer > header > .filters > .priceFields > input[type='number']{
        width: 100%;
        margin-left: 0;
    }
}
  
/* extra small mobile screen */
 @media (max-width: 360px) {
    .artsContainer > .arts {
        grid-template-columns: repeat(1, 1fr);
    }
}